@charset "utf-8";

#photo-area.viewport {
    overflow: hidden;
    width: 320px;
    height: 240px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}


#photo-area.viewport canvas, video {
    width:320px;
    height: 240px;
}

#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
   margin-left: -320px;
}

#scan-result {
    border:1px solid;
    font-size:1.0em;
    padding:2px;
    margin-bottom:5px;
    width:320px;
    height:20px;
}
