@charset "utf-8";

#photo-area.viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}


#photo-area.viewport canvas, video {
    width:100%;
    height: 100%;
}

#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
   margin-left: -50%;
}
