<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="pwa sample">
    <link rel="apple-touch-icon" href="./images/icons/icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="./images/icons/icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="./images/icons/icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="./images/icons/icon-144x144.png" sizes="144x144">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>PWA sample</title>
</head>

<body>

    <header>
      <div class="container">
        <h1 class="title">PWA sample</h1>
        <h2 class="subtitle">設定</h2>
      </div>
    </header>
    
    <article id="app" class="container">
        
        <section>
            設定済みID:{{sLoginid}}
        </section>
        
        <section>
            <span>ログインID</span><br>
            <input type="text" name="loginid" v-model="vLoginid" placeholder="ID"><br>
            <span>パスワード</span><br>
            <input type="password" v-model="vPassword"><br>
            <button class="search-button" v-on:click="submitSetting">設定</button>
        </section>
    </article>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
        var app = new Vue({
            el: '#app',
            data :{
                   sPassword:"",
                   sLoginid:"",
                   vLoginid:"",
                   vPassword:""
                
               },
               computed: {
               isInValidName() {
                    return this.loginid.length < 5
               },
               isInValidPhone() {
                   return this.phone.length < 8
               },
               isInValidEmail() {
                    const regex = new RegExp(/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i)
                    return !regex.test(this.email);
                }
               },
                mounted : function(){
                  console.log('mounted')
                  console.log('id:' + localStorage.getItem('vLoginid'))
                  console.log('pw:' + localStorage.getItem('vPassword'))
                  this.sLoginid = localStorage.getItem('vLoginid');
               },
               methods: {
                submitSetting() {
                   console.log("submit setting");
                   if (this.vLoginid === '') return;
                   if (this.vPassword === '') return;
                   console.log(this.vLoginid);
                   console.log(this.vPassword);
                  localStorage.setItem('vLoginid', this.vLoginid);
                  localStorage.setItem('vPassword', this.vPassword);
                  this.sLoginid = this.vLoginid;
                  this.vLoginid = "";
                  this.vPassword = "";
                },
              }
              
          });
        </script>
</body>
</html>
