body > * {
    font-size:0.8em;
}

#photo-area.viewport {
   background-color:pink;
    border:1px solid;
   height: 240px;
   width:320px;
}


#photo-area.viewport canvas, video {
   height: 240px;
   width:320px;
    float: left;
}

#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
   margin-left: -320px;
}

.search-button {
  margin:3px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ff7f50;
  color: #fff;
  padding: 8px 8px;
  font-size: 1.2em;
  width:200px;
}

span {
margin:3px;
}
input {
margin:3px;
}

section {
padding:10px;
color:green;
}

#scan-result {
    border:1px solid;
    font-size:1.2em;
    padding:2px;
    margin-bottom:5px;
    width:320px;
    height:20px;
}
